.button {
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: 35px;
  font-size: 20px;
  color: var(--colour-light);
  background-color: var(--colour-dark);
  border: var(--border);
  border-radius: var(--border-radius);

  @include hover {
    color: var(--colour-dark);
    background-color: var(--colour-green);
  }

  &--transparent{
    color: var(--colour-dark);
    background-color: transparent;
  }

  &-green{
    background-color: var(--colour-green);
    color: var(--colour-dark);

    @include hover{
      color: var(--colour-green);
      background-color: var(--colour-dark);
    }
  }

  
}