.field{
    --fieldInputHeight: var(--input-height);
    --fieldInputTextColour: var(--colour-dark);
    --fieldInputBgColour: var(--colour-light);
    --fieldInputBorderColour: var(--colour-dark);
    --fieldInputPlaceholderColour: var(--colour-grey-alt);
    --fieldInputHoverBgColour: var(--colour-green);

    display: flex;
    flex-direction:column;
    align-items: start;

    @include mobile{
        row-gap: 10px ;
    }

    &-big{
        --fieldInputHeight: var(--button-height);
    }

    &-dark{
        --fieldInputTextColour: var(--colour-green);
        --fieldInputBgColour: var(--colour-dark-alt);
        --fieldInputBorderColour: var(--colour-light);
        --fieldInputPlaceholderColour: var(--colour-light);
        --fieldInputHoverBgColour: var(--colour-dark);
    }

    row-gap: 5px;

    &__label{
        @include fluid-text(16, 14);
    }

    &__input{
        width: 100%;
        height: var(--fieldInputHeight);
        padding-inline: 30px;
        color: var(--fieldInputTextColour);
        background-color: var(--fieldInputBgColour);
        border:1px solid var(--fieldInputBorderColour);
        border-radius: var(--border-radius);


        @include hover{
            background-color: var(--fieldInputHoverBgColour);
        }

        @include mobile{
            padding-inline: 20px;
        }

        &:focus{
            border-color: var(--colour-green);
            outline: none;
        }

        &::placeholder{
            color: var(--fieldInputPlaceholderColour);
        }

        &--textarea{
            height: 190px;
            padding-block: 18px;
            resize: none;


          @include mobile{
            height: 132px;
          }  

        }
    }
}
