.chatbot__icon {
  @include flex-center;
  @include square(60px);

  position: fixed;
  bottom: 70px;
  right: 32px;
  border-radius: 50%;
  background-color: var(--color-green);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border: var(--border);
  box-shadow: var(--shadow);

  &:hover {
    background-color: var(--color-green-alt);
  }

  &::before {
    @include abs-center;
    @include square(60%);

    content: '';
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("../images/chatbot/chatbot-icon.svg");
  }

}


.btn {
  width: 100%;
  margin-bottom: 5px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  color: var(-color-dark);
  text-align: left;
  vertical-align: middle;
  user-select: none;
  background-color: var(--color-green);
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius-small);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    color: var(--color-dark);
    background-color: var(--color-green-alt);
  }

  &:focus,
  &.focus {
    outline: 0;
  }
}
